*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:black;
    font-family: sans-serif;
}
.logo{
    display:flex;
    padding:10px;
}
div h4{
    padding:8px 0 0 10px;
    font-size:20px;
}
nav{
    background-color: blue;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
ul li{
    display:inline-block;
    font-size:16px;
    padding:10px;
}
ul li a{
    text-decoration: none;
    list-style-type: none;
    padding:10px;
    font-weight: 500;
}
li a:hover{
    color:white;
    border-bottom: 2px solid yellow;
    transition: all 0.2s;
}
h4:hover{
    color:white;
    transition: all 0.2s;
}
.menuline{
    background-color: black;
    width:25px;
    height:3px;
    margin:3px 0 3px 0;
    border-radius:7px;
}
.menu{
    display:none;
}
nav ul li ul{
    position:absolute;
    display:none;
    flex-direction: column;
    top:10;
    margin-top:20px;
    left:20;
    background-color: blue;
    border-radius: 5px;
}
ul li ul li{
    padding:20px;
}

@media all and (max-width:584px){
    nav{
        flex-direction:column;
    }
    .logo{
        align-self: flex-start;
    }
    ul li ul li{
        padding:10px;
    }
    ul li{
        display:block;
        text-align: center;
        padding:11px;
        margin-top:5px;
    }
    ul{
        display:none;
    }
    .menu{
        position:absolute;
        left:90%;
        top:3%;
        display:block;
        margin-right:-60px;
    }
    nav ul li ul{
        position: relative;
    }
}
.showmenu{
    display:block;
}
.showskill{
    display:flex;
}